#root {
    -fx-padding: 5px;
    /*-fx-background-color: white;*/
}

.title {
    -fx-font-size: 1.8em;
    -fx-font-weight: bold;
}

.box {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1px;

    -fx-padding: 10px;
}

.box-changement {
    -fx-spacing: 10px;
}

.box-properties {
    -fx-spacing: 10px;
}

.property {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.alarm {
    -fx-font-size: 1.6em;
    -fx-font-weight: bold;
}

.value {
    /*-fx-background-color: white;*/
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.big-button {
  -fx-border-color: black;
}

.active {
    -fx-background-color: red;
}

.waiting {
    -fx-background-color: orange;
}

.disable {
    -fx-background-color: gray;
}

#productRatio {
  -fx-accent: lime;
  -fx-control-inner-background: red;
  /*-fx-text-box-border: lawngreen;*/
}

#boilerIndicator {
  -fx-accent: red;
  -fx-control-inner-background: lime;
  /*-fx-text-box-border: lawngreen;*/
}
